extends layout

block scripts
	script(src="/javascripts/lib/jquery-1.9.1.min.js")
	script(src="/javascripts/devfolio.js")
	if editingEnabled
		script(src="/javascripts/lib/jquery-ui-1.10.1.custom.min.js")
		script(src="/javascripts/lib/jcrop.min.js")
		script(src="/javascripts/lib/bootstrap.min.js")
		script(src="/javascripts/edit.js")

mixin editProfileDescription
	div#edit-profile-description-modal.modal.hide.fade(aria-hidden="true", tabindex="-1")
		div.modal-header
			button.close(data-dismiss="modal", aria-hidden="true", type="button") x
			h3 Edit Description
		div.modal-body
			form.edit-profile-description-form(method="post", action="/"+folio.username)
				textarea(name="description")= folio.description
		div.modal-footer
			button.btn(data-dismiss="modal", aria-hidden="true") Cancel
			button.btn.btn-primary.submit-profile-description Save Changes

block content
	div.folio
		div.container
			div.row-fluid
				div.span8.personal-info
					div.row-fluid
						h1 #{folio.firstName} #{folio.lastName}
					div.row-fluid.social-container
						if editingEnabled
							i.icon-edit.icon-large.edit-social
						a.span3(href="mailto:hunter@hunterc.com")
							i.icon-envelope-alt.icon-4x
						a.span3(href="http://github.com/hclarke3")
							i.icon-github.icon-4x
						a.span3(href="http://twitter.com/hunterclarke")
							i.icon-twitter.icon-4x
						a.span3(href="http://www.linkedin.com/pub/hunter-clarke/22/a03/682/")
							i.icon-linkedin.icon-4x
					div.row-fluid.profile-description-container
						if editingEnabled
							i.icon-edit.icon-large.edit-profile-description
						p= folio.description
				div.span4.avatar-container
						if editingEnabled
							i.icon-edit.icon-large.edit-avatar
						img.avatar(src="/images/me.jpeg")

			ul.project-list
				- for (var i=0; i<7; i++)
					li.span4.project
						a(href="/hunterclarke")
							img(src="http://dummyimage.com/300x225/4d494d/686a82.gif&text=project+image")
						div.project-meta
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							span.project-tag-container
								a.project-tag(href="") Ruby
							span.project-tag-container
								a.project-tag(href="") Ruby on Rails
							span.project-tag-container
								a.project-tag(href="") Javascript
							span.project-tag-container
								a.project-tag(href="") HTML5
							span.project-tag-container
								a.project-tag(href="") Node.js
				if editingEnabled
					li.span4.new-project
						a.new-project-link(href="")
							i.icon-plus-sign.icon-4x
							p.new-project-text New Project

	mixin editProfileDescription