extends layout

block content
	.container
		if (success.length)
			div.success-message= success
		.login-container
			h1 Log In or 
				a(href="/") Sign up
			if (error.length)
				div.error-message= error
			form.login-form(method="post", action="/login")
				div.text-input
					label(for="user[email]") Email:
					input(type="text", name="email")

				div.text-input
					label(for="user[password]") Password:
					input(type="password", name="password")
				div
					input.btn.btn-success.submit-input(type="submit", value="Log In")