extends layout

block scripts
	script(src="/javascripts/lib/jquery-1.9.1.min.js")
	script(src="/javascripts/lib/parsley.min.js")

block content
	div.registration
		div.container
			h2 Registration
			hr
			div.error-message= req.flash('error')
			form.registration-form(method="post", action="/register", data-validate="parsley")
				div.text-input
					label(for="user[firstName]") First Name:
					input(type="text", name="user[firstName]", value=user.firstName, data-required="true")
				div.text-input
					label(for="user[lastName]") Last Name:
					input(type="text", name="user[lastName]", value=user.lastName, data-required="true")
				div.text-input
					label(for="user[email]") Email:
					input(type="text", name="user[email]", value=user.email, data-type="email", data-required="true", data-remote="/validate_email", data-remote-method="POST")
				div.text-input
					label(for="user[password]") Set a Password:
					input(type="password", name="user[password]", data-required="true")
				div.text-input
					label(for="user[username]") Pick a Devfol.io Username:
					input#devfolio-hint-input(type="text", name="user[username]", data-required="true", data-remote="/validate_username", data-remote-method="POST")
					div.devfolio-hint devfol.io/
				div
					input.btn.btn-success.submit-input(type="submit", value="Finish!")