@import "./lib/bootstrap.less";

.nav li a{
	font-size: 12px;
}

.navbar a.brand {
	font-size: 14px;
}

.nav li.edit-folio-link-item a {
	color: green;
}

.nav li.edit-folio-link-item a:hover {
	color: lighten(green, 25%);
}

.nav li.registration-link-item a{
	color: @blue;
}

.nav li.registration-link-item a:hover {
	color: lighten(@blue, 25%);
}

.hero-registration {
	padding: 50px 0px;
	background-color: #000;
	background-image: url('/images/dark_leather.png');

	h1 {
		font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	   	font-weight: 100;
	   	font-size: 70px;
	   	color: @grayDarker;
	}

	h3 {
		font-weight: 200;
		font-size: 20px;
	}
}

.pre-registration-container {
	width: 350px;
	padding: 30px;
	background-color: rgba(255,255,255, 0.7);
}

.new-user-form, .registration-form {
	label {
		color: @grayDark;
		width: 75px;
		font-size: 14px;
		font-weight: 200;
	}

	input {
		.border-radius(0px);
	}
}

.new-user-form {
	.short-text-input {
		width: 150px;
		display: inline-block;
		input {
			width: 150px;
		}
		margin-right: 25px;
	}

	.text-input input{
		width: 325px;
	}
}

.submit-input {
	margin-top: 25px;
}

.registration {
	padding: 30px 0px;
	height: 100%;

	.error-message {
		color: red;
	}
}

.registration-form {
	.text-input label{
		width: 180px;
		display: inline-block;
	}

	.text-input input {
		width: 205px;
		display: inline-block;
	}

	.text-input .parsley-error-list {
		li {
			float: left;
			margin-right: 3px;
		}
		list-style: none;
		color: red;
		font-size: 12px;
		width: 525px;
		float: right;
		padding-top: 5px;
	}

	#devfolio-hint-input {
		padding-left: 65px;
		width: 145px;
	}

	.devfolio-hint {
		position: relative;
		width: 60px;
		margin-top: -35px;
		margin-left: 185px;
		color: #888;
	}
}

.success-message {
	padding: 5px;
	background:#e6efc2;
	color:#264409;
	.box-shadow(0px 1px 2px rgba(0,0,0,0.2));
}

.login-container {
	width: 323px;
	padding: 30px;
	margin: 30px auto;
	background-color: #eee;

	.error-message {
		margin: 5px 0px;
		color: red;
	}

	h1 {
		font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		margin-bottom: 20px;
		font-weight: 200;
	}
}

.folio {
	margin: 50px 0px;
	h1 {
		font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		font-size: 70px;
		font-weight: 300;
	}
}

.project-list {
	margin: 0px;
	height: 100%;
}

.project {
	margin-top: 30px;
	background-color: #eee;
	margin-right: 13px;
	margin-left: 0px;
	list-style: none;

	img {
		width: 300px;
	}
}

.new-project {
	a, a:hover {
		color: @grayDark;
		text-decoration: none;
	}

	margin-top: 30px;
	margin-right: 13px;
	margin-left: 0px;
	list-style: none;
	text-align: center;
	height: 100%;
	padding-top: 150px;
}

.project-meta {
	padding: 10px;

	.project-tag-container a {
		font-size: 10px;
		display: inline-block;
		padding: 3px;
		border: 1px solid #ccc;
		margin: 3px;
		color: @grayDark;
	}

	.project-tag-container a:hover {
		text-decoration: none;
		cursor: default;
		background-color: darken(#eee, 15%);
	}
}

.personal-info {
	h1 {
		margin-bottom: 40px;
	}
	font-size: 16px;
	line-height: 1.5;
}

.social-container {
	position: relative;
	color: @gray;

	.edit-social {
		color: @grayDark;
		cursor: pointer;
		position: absolute;
		display: inline;
		top: 5px;
		left: -25px;
		display: none;
	}

	a.span3 {
		margin-left: 0px;
		color: @gray;
	}

	a:hover {
		text-decoration: none;
	}
}

.avatar {
	margin: auto;
	width: 300px;
	height: 300px;
	.border-radius(100%);
}

.avatar-container {
	position: relative;

	.edit-avatar {
		color: @grayDark;
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 5px;
		display: none;
	}
}


.profile-description-container {
	position: relative;
	margin-bottom: 20px;

	.edit-profile-description {
		color: @grayDark;
		cursor: pointer;
		display: none;
		position: absolute;
		top: 3px;
		left: -25px;
	}
}

.edit-profile-description-form {
	textarea {
		width: 515px;
		height: 150px;
	}
}

.empty-container {
	background-color: rgba(100, 100, 100, 0.3);
	border: 1px solid @grayDark;
	padding: 30px;
	margin-right: 50px;
	text-align: center;
	.border-radius(5px);

	a {
		color: @grayLight;
		width: 210px;
		margin: 30px auto;
	}

	a:hover {
		color: @grayDark;
		text-decoration: none;
	}
}

#edit-social-modal {
	.modal-body {
		h3 {
			font-size: 14px;
		}
	}
}

input.edit-social-input {
	height: 14px;
	vertical-align: top;
}

#edit-avatar-modal {
	width: 700px;
	margin-left: -350px;

	.modal-body h3 {
		color: @grayLight;
		font-size: 14px;
		line-height: 0px;
		font-weight: 300;
	}
}


.avatar-preview-container {
	.clearfix();

	#preview-container {
		width: 200px;
		height: 200px;
		overflow: hidden;
		.border-radius(100%);

		.avatar-previewing {
			max-width: none;
		}
	};
}

.span8.avatar-upload-container {
	border-left: 1px solid @grayLighter;
	padding-left: 30px;
	min-height: 250px;

	.avatar-upload {
		line-height: 20px;
	}
}

.no-avatar {
	width: 300px;
	height: 300px;
	background-color: @grayLight;
	.border-radius(100%);
	text-align: center;
	font-size: 200px;

	 i {
	 	position: relative;
	 	top: 50px;
	 }
}

.no-avatar-preview {
	width: 200px;
	height: 200px;
	background-color: @grayLight;
	text-align: center;
	font-size: 100px;

	 i {
	 	position: relative;
	 	top: 40px;
	 }
}
